

## Datra Wrangling Projects Part 2:  Web scraping

## Housing Prices in Massachusetts (2010-2019) with relation to Socioeconomic and Demographic Data

### Pavel Makarov

### Web source 1 - Wikipedia

In [77]:
# Import necessary libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [79]:
# Assign the wqebpage adress to a variable
url_1 = "https://en.wikipedia.org/wiki/Demographics_of_Massachusetts"

In [81]:
# Send the request for the assigned url
page = requests.get(url_1)

In [83]:
# Create a soup object from the requested html using BeaitifulSoup package
soup = BeautifulSoup(page.text, 'html')

In [84]:
# Find all tables by looking for <table> object in html
list_of_tables = soup.find_all('table')

In [85]:
# Find the length of the list of tables
len(list_of_tables)

10

In [86]:
# Find Massachusetts demographic data table and create a variable for it 
demog_table = soup.find("table", attrs = {"class": 'us-census-pop us-census-pop-right' })
demog_table

<table class="us-census-pop us-census-pop-right">
<caption>Historical population</caption>
<tbody><tr><th scope="col">Census</th><th scope="col"><abbr title="Population">Pop.</abbr></th><th scope="col"><style data-mw-deduplicate="TemplateStyles:r1152813436">.mw-parser-output .sr-only{border:0;clip:rect(0,0,0,0);clip-path:polygon(0px 0px,0px 0px,0px 0px);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;white-space:nowrap}</style><span class="sr-only">Note</span></th><th scope="col"><abbr title="Percent change">%±</abbr></th></tr>
<tr><th scope="row"><a href="/wiki/1790_United_States_census" title="1790 United States census">1790</a></th><td>378,787</td><td></td><td>—</td></tr><tr><th scope="row"><a href="/wiki/1800_United_States_census" title="1800 United States census">1800</a></th><td>422,845</td><td></td><td>11.6%</td></tr><tr><th scope="row"><a href="/wiki/1810_United_States_census" title="1810 United States census">1810</a></th><td>472,040</td><td></td><td>11.6%</td></tr><tr><th scope="row"><a href="/wiki/1820_United_States_census" title="1820 United States census">1820</a></th><td>523,287</td><td></td><td>10.9%</td></tr><tr><th scope="row"><a href="/wiki/1830_United_States_census" title="1830 United States census">1830</a></th><td>610,408</td><td></td><td>16.6%</td></tr><tr><th scope="row"><a href="/wiki/1840_United_States_census" title="1840 United States census">1840</a></th><td>737,699</td><td></td><td>20.9%</td></tr><tr><th scope="row"><a href="/wiki/1850_United_States_census" title="1850 United States census">1850</a></th><td>994,514</td><td></td><td>34.8%</td></tr><tr><th scope="row"><a href="/wiki/1860_United_States_census" title="1860 United States census">1860</a></th><td>1,231,066</td><td></td><td>23.8%</td></tr><tr><th scope="row"><a href="/wiki/1870_United_States_census" title="1870 United States census">1870</a></th><td>1,457,351</td><td></td><td>18.4%</td></tr><tr><th scope="row"><a href="/wiki/1880_United_States_census" title="1880 United States census">1880</a></th><td>1,783,085</td><td></td><td>22.4%</td></tr><tr><th scope="row"><a href="/wiki/1890_United_States_census" title="1890 United States census">1890</a></th><td>2,238,947</td><td></td><td>25.6%</td></tr><tr><th scope="row"><a href="/wiki/1900_United_States_census" title="1900 United States census">1900</a></th><td>2,805,346</td><td></td><td>25.3%</td></tr><tr><th scope="row"><a href="/wiki/1910_United_States_census" title="1910 United States census">1910</a></th><td>3,366,416</td><td></td><td>20.0%</td></tr><tr><th scope="row"><a href="/wiki/1920_United_States_census" title="1920 United States census">1920</a></th><td>3,852,356</td><td></td><td>14.4%</td></tr><tr><th scope="row"><a href="/wiki/1930_United_States_census" title="1930 United States census">1930</a></th><td>4,249,614</td><td></td><td>10.3%</td></tr><tr><th scope="row"><a href="/wiki/1940_United_States_census" title="1940 United States census">1940</a></th><td>4,316,721</td><td></td><td>1.6%</td></tr><tr><th scope="row"><a href="/wiki/1950_United_States_census" title="1950 United States census">1950</a></th><td>4,690,514</td><td></td><td>8.7%</td></tr><tr><th scope="row"><a href="/wiki/1960_United_States_census" title="1960 United States census">1960</a></th><td>5,148,578</td><td></td><td>9.8%</td></tr><tr><th scope="row"><a href="/wiki/1970_United_States_census" title="1970 United States census">1970</a></th><td>5,689,170</td><td></td><td>10.5%</td></tr><tr><th scope="row"><a href="/wiki/1980_United_States_census" title="1980 United States census">1980</a></th><td>5,737,037</td><td></td><td>0.8%</td></tr><tr><th scope="row"><a href="/wiki/1990_United_States_census" title="1990 United States census">1990</a></th><td>6,016,425</td><td></td><td>4.9%</td></tr><tr><th scope="row"><a href="/wiki/2000_United_States_census" title="2000 United States census">2000</a></th><td>6,349,097</td><td></td><td>5.5%</td></tr><tr><th scope="row"><a href="/wiki/2010_United_States_census" title="2010 United States census">2010</a></th><td>6,547,629</td><td></td><td>3.1%</td></tr><tr><th scope="row"><a href="/wiki/2020_United_States_census" title="2020 United States census">2020</a></th><td>7,029,917</td><td></td><td>7.4%</td></tr><tr><th scope="row">2022 (est.)</th><td class="us-census-pop-estimate">6,981,974</td><td></td><td>−0.7%</td></tr><tr><td class="us-census-pop-footnote" colspan="4"><b>Sources:</b><sup class="reference" id="cite_ref-Census2022Est_1-1"><a href="#cite_note-Census2022Est-1">[1]</a></sup><sup class="reference" id="cite_ref-09CenEst_2-0"><a href="#cite_note-09CenEst-2">[2]</a></sup><sup class="reference" id="cite_ref-3"><a href="#cite_note-3">[3]</a></sup></td></tr>
</tbody></table>

In [87]:
# Create a variable that will store all found table rows
table_rows = demog_table.find_all('tr')

In [91]:
# Inspect all extracted rows
table_rows

[<tr><th scope="col">Census</th><th scope="col"><abbr title="Population">Pop.</abbr></th><th scope="col"><style data-mw-deduplicate="TemplateStyles:r1152813436">.mw-parser-output .sr-only{border:0;clip:rect(0,0,0,0);clip-path:polygon(0px 0px,0px 0px,0px 0px);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;white-space:nowrap}</style><span class="sr-only">Note</span></th><th scope="col"><abbr title="Percent change">%±</abbr></th></tr>,
 <tr><th scope="row"><a href="/wiki/1790_United_States_census" title="1790 United States census">1790</a></th><td>378,787</td><td></td><td>—</td></tr>,
 <tr><th scope="row"><a href="/wiki/1800_United_States_census" title="1800 United States census">1800</a></th><td>422,845</td><td></td><td>11.6%</td></tr>,
 <tr><th scope="row"><a href="/wiki/1810_United_States_census" title="1810 United States census">1810</a></th><td>472,040</td><td></td><td>11.6%</td></tr>,
 <tr><th scope="row"><a href="/wiki/1820_United_States_census" title="1820 United States census">1820</a></th><td>523,287</td><td></td><td>10.9%</td></tr>,
 <tr><th scope="row"><a href="/wiki/1830_United_States_census" title="1830 United States census">1830</a></th><td>610,408</td><td></td><td>16.6%</td></tr>,
 <tr><th scope="row"><a href="/wiki/1840_United_States_census" title="1840 United States census">1840</a></th><td>737,699</td><td></td><td>20.9%</td></tr>,
 <tr><th scope="row"><a href="/wiki/1850_United_States_census" title="1850 United States census">1850</a></th><td>994,514</td><td></td><td>34.8%</td></tr>,
 <tr><th scope="row"><a href="/wiki/1860_United_States_census" title="1860 United States census">1860</a></th><td>1,231,066</td><td></td><td>23.8%</td></tr>,
 <tr><th scope="row"><a href="/wiki/1870_United_States_census" title="1870 United States census">1870</a></th><td>1,457,351</td><td></td><td>18.4%</td></tr>,
 <tr><th scope="row"><a href="/wiki/1880_United_States_census" title="1880 United States census">1880</a></th><td>1,783,085</td><td></td><td>22.4%</td></tr>,
 <tr><th scope="row"><a href="/wiki/1890_United_States_census" title="1890 United States census">1890</a></th><td>2,238,947</td><td></td><td>25.6%</td></tr>,
 <tr><th scope="row"><a href="/wiki/1900_United_States_census" title="1900 United States census">1900</a></th><td>2,805,346</td><td></td><td>25.3%</td></tr>,
 <tr><th scope="row"><a href="/wiki/1910_United_States_census" title="1910 United States census">1910</a></th><td>3,366,416</td><td></td><td>20.0%</td></tr>,
 <tr><th scope="row"><a href="/wiki/1920_United_States_census" title="1920 United States census">1920</a></th><td>3,852,356</td><td></td><td>14.4%</td></tr>,
 <tr><th scope="row"><a href="/wiki/1930_United_States_census" title="1930 United States census">1930</a></th><td>4,249,614</td><td></td><td>10.3%</td></tr>,
 <tr><th scope="row"><a href="/wiki/1940_United_States_census" title="1940 United States census">1940</a></th><td>4,316,721</td><td></td><td>1.6%</td></tr>,
 <tr><th scope="row"><a href="/wiki/1950_United_States_census" title="1950 United States census">1950</a></th><td>4,690,514</td><td></td><td>8.7%</td></tr>,
 <tr><th scope="row"><a href="/wiki/1960_United_States_census" title="1960 United States census">1960</a></th><td>5,148,578</td><td></td><td>9.8%</td></tr>,
 <tr><th scope="row"><a href="/wiki/1970_United_States_census" title="1970 United States census">1970</a></th><td>5,689,170</td><td></td><td>10.5%</td></tr>,
 <tr><th scope="row"><a href="/wiki/1980_United_States_census" title="1980 United States census">1980</a></th><td>5,737,037</td><td></td><td>0.8%</td></tr>,
 <tr><th scope="row"><a href="/wiki/1990_United_States_census" title="1990 United States census">1990</a></th><td>6,016,425</td><td></td><td>4.9%</td></tr>,
 <tr><th scope="row"><a href="/wiki/2000_United_States_census" title="2000 United States census">2000</a></th><td>6,349,097</td><td></td><td>5.5%</td></tr>,
 <tr><th scope="row"><a href="/wiki/2010_United_States_census" title="2010 United States census">2010</a></th><td>6,547,629</td><td></td><td>3.1%</td></tr>,
 <tr><th scope="row"><a href="/wiki/2020_United_States_census" title="2020 United States census">2020</a></th><td>7,029,917</td><td></td><td>7.4%</td></tr>,
 <tr><th scope="row">2022 (est.)</th><td class="us-census-pop-estimate">6,981,974</td><td></td><td>−0.7%</td></tr>,
 <tr><td class="us-census-pop-footnote" colspan="4"><b>Sources:</b><sup class="reference" id="cite_ref-Census2022Est_1-1"><a href="#cite_note-Census2022Est-1">[1]</a></sup><sup class="reference" id="cite_ref-09CenEst_2-0"><a href="#cite_note-09CenEst-2">[2]</a></sup><sup class="reference" id="cite_ref-3"><a href="#cite_note-3">[3]</a></sup></td></tr>]

In [94]:
# Exctract table row that contains the column names. It comes right after tbody element
if demog_table:
    header_row = demog_table.find('tbody').find('tr') if demog_table.find('tbody') else demog_table.find('tr')
    # From the first table row exctract text from table header element
    column_names = [th.text.strip() for th in header_row.find_all('th')]

In [95]:
# Check if column names were exctracted properly
column_names

['Census', 'Pop.', 'Note', '%±']

In [96]:
# Remove unnecessary column
column_names.remove('Note')

In [97]:
# Change the names for the columns
column_names[0] = 'Census_Year'
column_names[1] = 'Population'
column_names[2] = 'Percent change'

In [98]:
# Using for loop exctract all data table rows that are contained in td elements. Skip first one because it is column names.
parsed_data = []
for rows in table_rows[1:]:
    row_data = rows.find_all('td')
    if row_data:
        line = [data.get_text(strip=True) for data in row_data]
        parsed_data.append(line)

In [99]:
# Check the results
parsed_data

[['378,787', '', '—'],
 ['422,845', '', '11.6%'],
 ['472,040', '', '11.6%'],
 ['523,287', '', '10.9%'],
 ['610,408', '', '16.6%'],
 ['737,699', '', '20.9%'],
 ['994,514', '', '34.8%'],
 ['1,231,066', '', '23.8%'],
 ['1,457,351', '', '18.4%'],
 ['1,783,085', '', '22.4%'],
 ['2,238,947', '', '25.6%'],
 ['2,805,346', '', '25.3%'],
 ['3,366,416', '', '20.0%'],
 ['3,852,356', '', '14.4%'],
 ['4,249,614', '', '10.3%'],
 ['4,316,721', '', '1.6%'],
 ['4,690,514', '', '8.7%'],
 ['5,148,578', '', '9.8%'],
 ['5,689,170', '', '10.5%'],
 ['5,737,037', '', '0.8%'],
 ['6,016,425', '', '4.9%'],
 ['6,349,097', '', '5.5%'],
 ['6,547,629', '', '3.1%'],
 ['7,029,917', '', '7.4%'],
 ['6,981,974', '', '−0.7%'],
 ['Sources:[1][2][3]']]

##### The first column is missing becuase it is stored under differnet element type - 'th'

In [101]:
# Usiing for loop exctract all information correpsonding to years
years = []
for rows in table_rows[1:]:
    row_data = rows.find_all('th')
    if row_data:
        line = [data.get_text(strip=True) for data in row_data]
        years.append(line)

In [103]:
# Check the results
years

[['1790'],
 ['1800'],
 ['1810'],
 ['1820'],
 ['1830'],
 ['1840'],
 ['1850'],
 ['1860'],
 ['1870'],
 ['1880'],
 ['1890'],
 ['1900'],
 ['1910'],
 ['1920'],
 ['1930'],
 ['1940'],
 ['1950'],
 ['1960'],
 ['1970'],
 ['1980'],
 ['1990'],
 ['2000'],
 ['2010'],
 ['2020'],
 ['2022 (est.)']]

In [104]:
# create a data frame using the list of years
df_years = pd.DataFrame(data = years, columns = ['Year'])

In [105]:
# Check the data table
df_years

           Year
0          1790
1          1800
2          1810
3          1820
4          1830
5          1840
6          1850
7          1860
8          1870
9          1880
10         1890
11         1900
12         1910
13         1920
14         1930
15         1940
16         1950
17         1960
18         1970
19         1980
20         1990
21         2000
22         2010
23         2020
24  2022 (est.)

In [106]:
# Create a data frame for the rest of the information
df = pd.DataFrame(data = parsed_data)

In [108]:
# Check the data frame
df

                    0     1      2
0             378,787            —
1             422,845        11.6%
2             472,040        11.6%
3             523,287        10.9%
4             610,408        16.6%
5             737,699        20.9%
6             994,514        34.8%
7           1,231,066        23.8%
8           1,457,351        18.4%
9           1,783,085        22.4%
10          2,238,947        25.6%
11          2,805,346        25.3%
12          3,366,416        20.0%
13          3,852,356        14.4%
14          4,249,614        10.3%
15          4,316,721         1.6%
16          4,690,514         8.7%
17          5,148,578         9.8%
18          5,689,170        10.5%
19          5,737,037         0.8%
20          6,016,425         4.9%
21          6,349,097         5.5%
22          6,547,629         3.1%
23          7,029,917         7.4%
24          6,981,974        −0.7%
25  Sources:[1][2][3]  None   None

### Transformation 1 - Data frames concatenation. Since inforamtion for years and population are stored in different data frames it is necessary to combine them into one data frame

In [115]:
# Combine the data frames
df_combined = pd.concat([df_years, df], axis = 1)

In [116]:
# Check combined data frame
df_combined

           Year                  0     1      2
0          1790            378,787            —
1          1800            422,845        11.6%
2          1810            472,040        11.6%
3          1820            523,287        10.9%
4          1830            610,408        16.6%
5          1840            737,699        20.9%
6          1850            994,514        34.8%
7          1860          1,231,066        23.8%
8          1870          1,457,351        18.4%
9          1880          1,783,085        22.4%
10         1890          2,238,947        25.6%
11         1900          2,805,346        25.3%
12         1910          3,366,416        20.0%
13         1920          3,852,356        14.4%
14         1930          4,249,614        10.3%
15         1940          4,316,721         1.6%
16         1950          4,690,514         8.7%
17         1960          5,148,578         9.8%
18         1970          5,689,170        10.5%
19         1980          5,737,037         0.8%
20         1990          6,016,425         4.9%
21         2000          6,349,097         5.5%
22         2010          6,547,629         3.1%
23         2020          7,029,917         7.4%
24  2022 (est.)          6,981,974        −0.7%
25          NaN  Sources:[1][2][3]  None   None

### Transformation 2  - Drop column. There is one empty column exctracted from HTML that has to be dropped.

In [119]:
# Drop empty column 
df_combined = df_combined.drop(columns = 1)

In [120]:
# Check the table
df_combined

           Year                  0      2
0          1790            378,787      —
1          1800            422,845  11.6%
2          1810            472,040  11.6%
3          1820            523,287  10.9%
4          1830            610,408  16.6%
5          1840            737,699  20.9%
6          1850            994,514  34.8%
7          1860          1,231,066  23.8%
8          1870          1,457,351  18.4%
9          1880          1,783,085  22.4%
10         1890          2,238,947  25.6%
11         1900          2,805,346  25.3%
12         1910          3,366,416  20.0%
13         1920          3,852,356  14.4%
14         1930          4,249,614  10.3%
15         1940          4,316,721   1.6%
16         1950          4,690,514   8.7%
17         1960          5,148,578   9.8%
18         1970          5,689,170  10.5%
19         1980          5,737,037   0.8%
20         1990          6,016,425   4.9%
21         2000          6,349,097   5.5%
22         2010          6,547,629   3.1%
23         2020          7,029,917   7.4%
24  2022 (est.)          6,981,974  −0.7%
25          NaN  Sources:[1][2][3]   None

### Transformation 3 - Drop bottom rows. Two bottom rows of the table were exctracted from HTML source but do not have any meaningful information.

In [123]:
# Remove last two rows
df_combined = df_combined.iloc[:-2]

In [126]:
df_combined

    Year          0      2
0   1790    378,787      —
1   1800    422,845  11.6%
2   1810    472,040  11.6%
3   1820    523,287  10.9%
4   1830    610,408  16.6%
5   1840    737,699  20.9%
6   1850    994,514  34.8%
7   1860  1,231,066  23.8%
8   1870  1,457,351  18.4%
9   1880  1,783,085  22.4%
10  1890  2,238,947  25.6%
11  1900  2,805,346  25.3%
12  1910  3,366,416  20.0%
13  1920  3,852,356  14.4%
14  1930  4,249,614  10.3%
15  1940  4,316,721   1.6%
16  1950  4,690,514   8.7%
17  1960  5,148,578   9.8%
18  1970  5,689,170  10.5%
19  1980  5,737,037   0.8%
20  1990  6,016,425   4.9%
21  2000  6,349,097   5.5%
22  2010  6,547,629   3.1%
23  2020  7,029,917   7.4%

### Transformation 4 - Rename columns. Create column names mapping and rename the column with desired names

In [129]:
# Create a column mapping dictionary
column_mapping = {df_combined.columns[0]: column_names[0], df_combined.columns[1]: column_names[1],df_combined.columns[2]: column_names[2] }

In [131]:
# Rename the data frame using mapped column names
df_combined.rename(columns=column_mapping, inplace=True)

C:\Users\Pasha\AppData\Local\Temp\ipykernel_9448\3337104013.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_combined.rename(columns=column_mapping, inplace=True)

In [132]:
# Check the data frame
df_combined

   Census_Year Population Percent change
0         1790    378,787              —
1         1800    422,845          11.6%
2         1810    472,040          11.6%
3         1820    523,287          10.9%
4         1830    610,408          16.6%
5         1840    737,699          20.9%
6         1850    994,514          34.8%
7         1860  1,231,066          23.8%
8         1870  1,457,351          18.4%
9         1880  1,783,085          22.4%
10        1890  2,238,947          25.6%
11        1900  2,805,346          25.3%
12        1910  3,366,416          20.0%
13        1920  3,852,356          14.4%
14        1930  4,249,614          10.3%
15        1940  4,316,721           1.6%
16        1950  4,690,514           8.7%
17        1960  5,148,578           9.8%
18        1970  5,689,170          10.5%
19        1980  5,737,037           0.8%
20        1990  6,016,425           4.9%
21        2000  6,349,097           5.5%
22        2010  6,547,629           3.1%
23        2020  7,029,917           7.4%

###  Transformation 5 - Data frame slicing. Since this table does cover wide range of years we can sliced to only years of interest.

In [134]:
# Slice only time period that covers 2011-2019
df_combined_sliced = df_combined.loc[22:23]

In [135]:
# Check sliced data frame
df_combined_sliced

   Census_Year Population Percent change
22        2010  6,547,629           3.1%
23        2020  7,029,917           7.4%

In [136]:
# Save the data frame
df_combined_sliced.to_csv('Population_MA.csv')

## Web source 2 - FBI crime data

## 2010 crime

In [139]:
# Copy the address of the wikipedia page and store it as url variable
url = "https://ucr.fbi.gov/crime-in-the-u.s/2010/crime-in-the-u.s.-2010/tables/table-8/10tbl08ma.xls"

In [140]:
# Using requests package get the request from url
page = requests.get(url)

In [142]:
# Create a soup object from the requested html using BeaitifulSoup package 
soup = BeautifulSoup(page.text, 'html')

In [143]:
# Find the length of the list of tables
print(len(soup))

2

In [145]:
# Find specififc table corresponding to crime statistics
report_table = soup.find("table", attrs = {"class": 'data' })
report_table

<table border="0" cellpadding="0" cellspacing="0" class="data" summary="Efforts have been made to make this data table accessible for screen readers; however, if your reader has difficulty with this table, the Excel spreadsheet version is available. Access Key D will take you to the download area.">
<thead>
<tr>
<th class="even group0 alignleft valignmentbottom subthead1" colspan="1" headers="" id="cell40" rowspan="1" scope="col">
City</th>
<th class="odd group1 aligncenter valignmentbottom subthead2" colspan="1" headers="" id="cell41" rowspan="1" scope="col">
Population</th>
<th class="even group2 bold aligncenter valignmentbottom subthead1" colspan="1" headers="" id="cell42" rowspan="1" scope="col">
<b>Violent<br/>crime</b>
</th>
<th class="odd group3 aligncenter valignmentbottom subthead2" colspan="1" headers="" id="cell43" rowspan="1" scope="col">
Murder and<br/>nonnegligent<br/>manslaughter</th>
<th class="even group4 aligncenter valignmentbottom subthead1" colspan="1" headers="" id="cell44" rowspan="1" scope="col">
Forcible<br/>rape</th>
<th class="odd group5 aligncenter valignmentbottom subthead2" colspan="1" headers="" id="cell45" rowspan="1" scope="col">
Robbery</th>
<th class="even group6 aligncenter valignmentbottom subthead1" colspan="1" headers="" id="cell46" rowspan="1" scope="col">
Aggravated<br/>assault</th>
<th class="odd group7 bold aligncenter valignmentbottom subthead2" colspan="1" headers="" id="cell47" rowspan="1" scope="col">
<b>Property<br/>crime</b>
</th>
<th class="even group8 aligncenter valignmentbottom subthead1" colspan="1" headers="" id="cell48" rowspan="1" scope="col">
Burglary</th>
<th class="odd group9 aligncenter valignmentbottom subthead2" colspan="1" headers="" id="cell49" rowspan="1" scope="col">
Larceny-<br/>theft</th>
<th class="even group10 aligncenter valignmentbottom subthead1" colspan="1" headers="" id="cell410" rowspan="1" scope="col">
Motor<br/>vehicle<br/>theft</th>
<th class="odd group11 aligncenter valignmentbottom subthead2" colspan="1" headers="" id="cell411" rowspan="1" scope="col">
Arson<sup>1</sup>
</th>
</tr>
</thead>
<tbody>
<tr>
<th class="even group0 valignmenttop" colspan="1" headers="cell40" id="cell50" rowspan="1" scope="row">
Abington</th>
<td class="odd group1 valignmenttop numbercell" colspan="1" headers="cell41 cell50" id="cell51" rowspan="1">
16,836</td>
<td class="even group2 valignmenttop numbercell" colspan="1" headers="cell42 cell50" id="cell52" rowspan="1">
46</td>
<td class="odd group3 valignmenttop numbercell" colspan="1" headers="cell43 cell50" id="cell53" rowspan="1">
0</td>
<td class="even group4 valignmenttop numbercell" colspan="1" headers="cell44 cell50" id="cell54" rowspan="1">
2</td>
<td class="odd group5 valignmenttop numbercell" colspan="1" headers="cell45 cell50" id="cell55" rowspan="1">
9</td>
<td class="even group6 valignmenttop numbercell" colspan="1" headers="cell46 cell50" id="cell56" rowspan="1">
35</td>
<td class="odd group7 valignmenttop numbercell" colspan="1" headers="cell47 cell50" id="cell57" rowspan="1">
346</td>
<td class="even group8 valignmenttop numbercell" colspan="1" headers="cell48 cell50" id="cell58" rowspan="1">
112</td>
<td class="odd group9 valignmenttop numbercell" colspan="1" headers="cell49 cell50" id="cell59" rowspan="1">
213</td>
<td class="even group10 valignmenttop numbercell" colspan="1" headers="cell410 cell50" id="cell510" rowspan="1">
21</td>
<td class="odd group11 valignmenttop numbercell" colspan="1" headers="cell411 cell50" id="cell511" rowspan="1">
3</td>
</tr>
<tr>
<th class="even group0 valignmenttop" colspan="1" headers="cell40" id="cell60" rowspan="1" scope="row">
Acton</th>
<td class="odd group1 valignmenttop numbercell" colspan="1" headers="cell41 cell60" id="cell61" rowspan="1">
21,090</td>
<td class="even group2 valignmenttop numbercell" colspan="1" headers="cell42 cell60" id="cell62" rowspan="1">
24</td>
<td class="odd group3 valignmenttop numbercell" colspan="1" headers="cell43 cell60" id="cell63" rowspan="1">
1</td>
<td class="even group4 valignmenttop numbercell" colspan="1" headers="cell44 cell60" id="cell64" rowspan="1">
2</td>
<td class="odd group5 valignmenttop numbercell" colspan="1" headers="cell45 cell60" id="cell65" rowspan="1">
1</td>
<td class="even group6 valignmenttop numbercell" colspan="1" headers="cell46 cell60" id="cell66" rowspan="1">
20</td>
<td class="odd group7 valignmenttop numbercell" colspan="1" headers="cell47 cell60" id="cell67" rowspan="1">
217</td>
<td class="even group8 valignmenttop numbercell" colspan="1" headers="cell48 cell60" id="cell68" rowspan="1">
43</td>
<td class="odd group9 valignmenttop numbercell" colspan="1" headers="cell49 cell60" id="cell69" rowspan="1">
167</td>
<td class="even group10 valignmenttop numbercell" colspan="1" headers="cell410 cell60" id="cell610" rowspan="1">
7</td>
<td class="odd group11 valignmenttop numbercell" colspan="1" headers="cell411 cell60" id="cell611" rowspan="1">
0</td>
</tr>
<tr>
<th class="even group0 valignmenttop" colspan="1" headers="cell40" id="cell70" rowspan="1" scope="row">
Acushnet</th>
<td class="odd group1 valignmenttop numbercell" colspan="1" headers="cell41 cell70" id="cell71" rowspan="1">
10,275</td>
<td class="even group2 valignmenttop numbercell" colspan="1" headers="cell42 cell70" id="cell72" rowspan="1">
21</td>
<td class="odd group3 valignmenttop numbercell" colspan="1" headers="cell43 cell70" id="cell73" rowspan="1">
0</td>
<td class="even group4 valignmenttop numbercell" colspan="1" headers="cell44 cell70" id="cell74" rowspan="1">
2</td>
<td class="odd group5 valignmenttop numbercell" colspan="1" headers="cell45 cell70" id="cell75" rowspan="1">
2</td>
<td class="even group6 valignmenttop numbercell" colspan="1" headers="cell46 cell70" id="cell76" rowspan="1">
17</td>
<td class="odd group7 valignmenttop numbercell" colspan="1" headers="cell47 cell70" id="cell77" rowspan="1">
146</td>
<td class="even group8 valignmenttop numbercell" colspan="1" headers="cell48 cell70" id="cell78" rowspan="1">
61</td>
<td class="odd group9 valignmenttop numbercell" colspan="1" headers="cell49 cell70" id="cell79" rowspan="1">
75</td>
<td class="even group10 valignmenttop numbercell" colspan="1" headers="cell410 cell70" id="cell710" rowspan="1">
10</td>
<td class="odd group11 valignmenttop numbercell" colspan="1" headers="cell411 cell70" id="cell711" rowspan="1">
0</td>
</tr>
<tr>
<th class="even group0 valignmenttop" colspan="1" headers="cell40" id="cell80" rowspan="1" scope="row">
Adams</th>
<td class="odd group1 valignmenttop numbercell" colspan="1" headers="cell41 cell80" id="cell81" rowspan="1">
8,120</td>
<td class="even group2 valignmenttop numbercell" colspan="1" headers="cell42 cell80" id="cell82" rowspan="1">
35</td>
<td class="odd group3 valignmenttop numbercell" colspan="1" headers="cell43 cell80" id="cell83" rowspan="1">
0</td>
<td class="even group4 valignmenttop numbercell" colspan="1" headers="cell44 cell80" id="cell84" rowspan="1">
4</td>
<td class="odd group5 valignmenttop numbercell" colspan="1" headers="cell45 cell80" id="cell85" rowspan="1">
1</td>
<td class="even group6 valignmenttop numbercell" colspan="1" headers="cell46 cell80" id="cell86" rowspan="1">
30</td>
<td class="odd group7 valignmenttop numbercell" colspan="1" headers="cell47 cell80" id="cell87" rowspan="1">
249</td>
<td class="even group8 valignmenttop numbercell" colspan="1" headers="cell48 cell80" id="cell88" rowspan="1">
65</td>
<td class="odd group9 valignmenttop numbercell" colspan="1" headers="cell49 cell80" id="cell89" rowspan="1">
175</td>
<td class="even group10 valignmenttop numbercell" colspan="1" headers="cell410 cell80" id="cell810" rowspan="1">
9</td>
<td class="odd group11 valignmenttop numbercell" colspan="1" headers="cell411 cell80" id="cell811" rowspan="1">
2</td>
</tr>
<tr>
<th class="even group0 valignmenttop" colspan="1" headers="cell40" id="cell90" rowspan="1" scope="row">
Agawam</th>
<td class="odd group1 valignmenttop numbercell" colspan="1" headers="cell41 cell90" id="cell91" rowspan="1">
28,215</td>
<td class="even group2 valignmenttop numbercell" colspan="1" headers="cell42 cell90" id="cell92" rowspan="1">
47</td>
<td class="odd group3 valignmenttop numbercell" colspan="1" headers="cell43 cell90" id="cell93" rowspan="1">
0</td>
<td class="even group4 valignmenttop numbercell" colspan="1" headers="cell44 cell90" id="cell94" rowspan="1">
6</td>
<td class="odd group5 valignmenttop numbercell" colspan="1" headers="cell45 cell90" id="cell95" rowspan="1">
5</td>
<td class="even group6 valignmenttop numbercell" colspan="1" headers="cell46 cell90" id="cell96" rowspan="1">
36</td>
<td class="odd group7 valignmenttop numbercell" colspan="1" headers="cell47 cell90" id="cell97" rowspan="1">
260</td>
<td class="even group8 valignmenttop numbercell" colspan="1" headers="cell48 cell90" id="cell98" rowspan="1">
75</td>
<td class="odd group9 valignmenttop numbercell" colspan="1" headers="cell49 cell90" id="cell99" rowspan="1">
155</td>
<td class="even group10 valignmenttop numbercell" colspan="1" headers="cell410 cell90" id="cell910" rowspan="1">
30</td>
<td class="odd group11 valignmenttop numbercell" colspan="1" headers="cell411 cell90" id="cell911" rowspan="1">
7</td>
</tr>
<tr>
<th class="even group0 valignmenttop" colspan="1" headers="cell40" id="cell100" rowspan="1" scope="row">
Amesbury</th>
<td class="odd group1 valignmenttop numbercell" colspan="1" headers="cell41 cell100" id="cell101" rowspan="1">
16,549</td>
<td class="even group2 valignmenttop numbercell" colspan="1" headers="cell42 cell100" id="cell102" rowspan="1">
44</td>
<td class="odd group3 valignmenttop numbercell" colspan="1" headers="cell43 cell100" id="cell103" rowspan="1">
0</td>
<td class="even group4 valignmenttop numbercell" colspan="1" headers="cell44 cell100" id="cell104" rowspan="1">
5</td>
<td class="odd group5 valignmenttop numbercell" colspan="1" headers="cell45 cell100" id="cell105" rowspan="1">
0</td>
<td class="even group6 valignmenttop numbercell" colspan="1" headers="cell46 cell100" id="cell106" rowspan="1">
39</td>
<td class="odd group7 valignmenttop numbercell" colspan="1" headers="cell47 cell100" id="cell107" rowspan="1">
266</td>
<td class="even group8 valignmenttop numbercell" colspan="1" headers="cell48 cell100" id="cell108" rowspan="1">
52</td>
<td class="odd group9 valignmenttop numbercell" colspan="1" headers="cell49 cell100" id="cell109" rowspan="1">
201</td>
<td class="even group10 valignmenttop numbercell" colspan="1" headers="cell410 cell100" id="cell1010" rowspan="1">
13</td>
<td class="odd group11 valignmenttop numbercell" colspan="1" headers="cell411 cell100" id="cell1011" rowspan="1">
2</td>
</tr>
<tr>
<th class="even group0 valignmenttop" colspan="1" headers="cell40" id="cell110" rowspan="1" scope="row">
Amherst</th>
<td class="odd group1 valignmenttop numbercell" colspan="1" headers="cell41 cell110" id="cell111" rowspan="1">
36,004</td>
<td class="even group2 valignmenttop numbercell" colspan="1" headers="cell42 cell110" id="cell112" rowspan="1">
81</td>
<td class="odd group3 valignmenttop numbercell" colspan="1" headers="cell43 cell110" id="cell113" rowspan="1">
0</td>
<td class="even group4 valignmenttop numbercell" colspan="1" headers="cell44 cell110" id="cell114" rowspan="1">
20</td>
<td class="odd group5 valignmenttop numbercell" colspan="1" headers="cell45 cell110" id="cell115" rowspan="1">
2</td>
<td class="even group6 valignmenttop numbercell" colspan="1" headers="cell46 cell110" id="cell116" rowspan="1">
59</td>
<td class="odd group7 valignmenttop numbercell" colspan="1" headers="cell47 cell110" id="cell117" rowspan="1">
560</td>
<td class="even group8 valignmenttop numbercell" colspan="1" headers="cell48 cell110" id="cell118" rowspan="1">
274</td>
<td class="odd group9 valignmenttop numbercell" colspan="1" headers="cell49 cell110" id="cell119" rowspan="1">
257</td>
<td class="even group10 valignmenttop numbercell" colspan="1" headers="cell410 cell110" id="cell1110" rowspan="1">
29</td>
<td class="odd group11 valignmenttop numbercell" colspan="1" headers="cell411 cell110" id="cell1111" rowspan="1">
1</td>
</tr>
<tr>
<th class="even group0 valignmenttop" colspan="1" headers="cell40" id="cell120" rowspan="1" scope="row">
Andover</th>
<td class="odd group1 valignmenttop numbercell" colspan="1" headers="cell41 cell120" id="cell121" rowspan="1">
33,505</td>
<td class="even group2 valignmenttop numbercell" colspan="1" headers="cell42 cell120" id="cell122" rowspan="1">
15</td>
<td class="odd group3 valignmenttop numbercell" colspan="1" headers="cell43 cell120" id="cell123" rowspan="1">
0</td>
<td class="even group4 valignmenttop numbercell" colspan="1" headers="cell44 cell120" id="cell124" rowspan="1">
2</td>
<td class="odd group5 valignmenttop numbercell" colspan="1" headers="cell45 cell120" id="cell125" rowspan="1">
4</td>
<td class="even group6 valignmenttop numbercell" colspan="1" headers="cell46 cell120" id="cell126" rowspan="1">
9</td>
<td class="odd group7 valignmenttop numbercell" colspan="1" headers="cell47 cell120" id="cell127" rowspan="1">
331</td>
<td class="even group8 valignmenttop numbercell" colspan="1" headers="cell48 cell120" id="cell128" rowspan="1">
75</td>
<td class="odd group9 valignmenttop numbercell" colspan="1" headers="cell49 cell120" id="cell129" rowspan="1">
239</td>
<td class="even group10 valignmenttop numbercell" colspan="1" headers="cell410 cell120" id="cell1210" rowspan="1">
17</td>
<td class="odd group11 valignmenttop numbercell" colspan="1" headers="cell411 cell120" id="cell1211" rowspan="1">
3</td>
</tr>
<tr>
<th class="even group0 valignmenttop" colspan="1" headers="cell40" id="cell130" rowspan="1" scope="row">
Arlington</th>
<td class="odd group1 valignmenttop numbercell" colspan="1" headers="cell41 cell130" id="cell131" rowspan="1">
41,212</td>
<td class="even group2 valignmenttop numbercell" colspan="1" headers="cell42 cell130" id="cell132" rowspan="1">
96</td>
<td class="odd group3 valignmenttop numbercell" colspan="1" headers="cell43 cell130" id="cell133" rowspan="1">
0</td>
<td class="even group4 valignmenttop numbercell" colspan="1" headers="cell44 cell130" id="cell134" rowspan="1">
0</td>
<td class="odd group5 valignmenttop numbercell" colspan="1" headers="cell45 cell130" id="cell135" rowspan="1">
9</td>
<td class="even group6 valignmenttop numbercell" colspan="1" headers="cell46 cell130" id="cell136" rowspan="1">
87</td>
<td class="odd group7 valignmenttop numbercell" colspan="1" headers="cell47 cell130" id="cell137" rowspan="1">
635</td>
<td class="even group8 valignmenttop numbercell" colspan="1" headers="cell48 cell130" id="cell138" rowspan="1">
154</td>
<td class="odd group9 valignmenttop numbercell" colspan="1" headers="cell49 cell130" id="cell139" rowspan="1">
460</td>
<td class="even group10 valignmenttop numbercell" colspan="1" headers="cell410 cell130" id="cell1310" rowspan="1">
21</td>
<td class="odd group11 valignmenttop numbercell" colspan="1" headers="cell411 cell130" id="cell1311" rowspan="1">
8</td>
</tr>
<tr>
<th class="even group0 valignmenttop" colspan="1" headers="cell40" id="cell140" rowspan="1" scope="row">
Ashburnham</th>
<td class="odd group1 valignmenttop numbercell" colspan="1" headers="cell41 cell140" id="cell141" rowspan="1">
6,050</td>
<td class="even group2 valignmenttop numbercell" colspan="1" headers="cell42 cell140" id="cell142" rowspan="1">
13</td>
<td class="odd group3 valignmenttop numbercell" colspan="1" headers="cell43 cell140" id="cell143" rowspan="1">
0</td>
<td class="even group4 valignmenttop numbercell" colspan="1" headers="cell44 cell140" id="cell144" rowspan="1">
2</td>
<td class="odd group5 valignmenttop numbercell" colspan="1" headers="cell45 cell140" id="cell145" rowspan="1">
0</td>
<td class="even group6 valignmenttop numbercell" colspan="1" headers="cell46 cell140" id="cell146" rowspan="1">
11</td>
<td class="odd group7 valignmenttop numbercell" colspan="1" headers="cell47 cell140" id="cell147" rowspan="1">
83</td>
<td class="even group8 valignmenttop numbercell" colspan="1" headers="cell48 cell140" id="cell148" rowspan="1">
23</td>
<td class="odd group9 valignmenttop numbercell" colspan="1" headers="cell49 cell140" id="cell149" rowspan="1">
56</td>
<td class="even group10 valignmenttop numbercell" colspan="1" headers="cell410 cell140" id="cell1410" rowspan="1">
4</td>
<td class="odd group11 valignmenttop numbercell" colspan="1" headers="cell411 cell140" id="cell1411" rowspan="1">
1</td>
</tr>
<tr>
<th class="even group0 valignmenttop" colspan="1" headers="cell40" id="cell150" rowspan="1" scope="row">
Ashby</th>
<td class="odd group1 valignmenttop numbercell" colspan="1" headers="cell41 cell150" id="cell151" rowspan="1">
3,115</td>
<td class="even group2 valignmenttop numbercell" colspan="1" headers="cell42 cell150" id="cell152" rowspan="1">
5</td>
<td class="odd group3 valignmenttop numbercell" colspan="1" headers="cell43 cell150" id="cell153" rowspan="1">
0</td>
<td class="even group4 valignmenttop numbercell" colspan="1" headers="cell44 cell150" id="cell154" rowspan="1">
2</td>
<td class="odd group5 valignmenttop numbercell" colspan="1" headers="cell45 cell150" id="cell155" rowspan="1">
0</td>
<td class="even group6 valignmenttop numbercell" colspan="1" headers="cell46 cell150" id="cell156" rowspan="1">
3</td>
<td class="odd group7 valignmenttop numbercell" colspan="1" headers="cell47 cell150" id="cell157" rowspan="1">
15</td>
<td class="even group8 valignmenttop numbercell" colspan="1" headers="cell48 cell150" id="cell158" rowspan="1">
15</td>
<td class="odd group9 valignmenttop numbercell" colspan="1" headers="cell49 cell150" id="cell159" rowspan="1">
0</td>
<td class="even group10 valignmenttop numbercell" colspan="1" headers="cell410 cell150" id="cell1510" rowspan="1">
0</td>
<td class="odd group11 valignmenttop numbercell" colspan="1" headers="cell411 cell150" id="cell1511" rowspan="1">
0</td>
</tr>
<tr>
<th class="even group0 valignmenttop" colspan="1" headers="cell40" id="cell160" rowspan="1" scope="row">
Ashland</th>
<td class="odd group1 valignmenttop numbercell" colspan="1" headers="cell41 cell160" id="cell161" rowspan="1">
15,279</td>
<td class="even group2 valignmenttop numbercell" colspan="1" headers="cell42 cell160" id="cell162" rowspan="1">
27</td>
<td class="odd group3 valignmenttop numbercell" colspan="1" headers="cell43 cell160" id="cell163" rowspan="1">
0</td>
<td class="even group4 valignmenttop numbercell" colspan="1" headers="cell44 cell160" id="cell164" rowspan="1">
2</td>
<td class="odd group5 valignmenttop numbercell" colspan="1" headers="cell45 cell160" id="cell165" rowspan="1">
0</td>
<td class="even group6 valignmenttop numbercell" colspan="1" headers="cell46 cell160" id="cell166" rowspan="1">
25</td>
<td class="odd group7 valignmenttop numbercell" colspan="1" headers="cell47 cell160" id="cell167" rowspan="1">
181</td>
<td class="even group8 valignmenttop numbercell" colspan="1" headers="cell48 cell160" id="cell168" rowspan="1">
50</td>
<td class="odd group9 valignmenttop numbercell" colspan="1" headers="cell49 cell160" id="cell169" rowspan="1">
119</td>
<td class="even group10 valignmenttop numbercell" colspan="1" headers="cell410 cell160" id="cell1610" rowspan="1">
12</td>
<td class="odd group11 valignmenttop numbercell" colspan="1" headers="cell411 cell160" id="cell1611" rowspan="1">
0</td>
</tr>
<tr>
<th class="even group0 valignmenttop" colspan="1" headers="cell40" id="cell170" rowspan="1" scope="row">
Athol</th>
<td class="odd group1 valignmenttop numbercell" colspan="1" headers="cell41 cell170" id="cell171" rowspan="1">
11,773</td>
<td class="even group2 valignmenttop numbercell" colspan="1" headers="cell42 cell170" id="cell172" rowspan="1">
65</td>
<td class="odd group3 valignmenttop numbercell" colspan="1" headers="cell43 cell170" id="cell173" rowspan="1">
1</td>
<td class="even group4 valignmenttop numbercell" colspan="1" headers="cell44 cell170" id="cell174" rowspan="1">

In [39]:
# Exctract heraders from the table
header_row = report_table.find('thead').find('tr') if report_table.find('thead') else first_table.find('tr')
column_names = [th.text.strip() for th in header_row.find_all('th')]

In [40]:
# Check headers
column_names

['City',
 'Population',
 'Violentcrime',
 'Murder andnonnegligentmanslaughter',
 'Forciblerape',
 'Robbery',
 'Aggravatedassault',
 'Propertycrime',
 'Burglary',
 'Larceny-theft',
 'Motorvehicletheft',
 'Arson1']

In [41]:
# Find all table rows in the table
report_rows  = report_table.find_all('tr')
report_rows

[<tr>
 <th class="even group0 alignleft valignmentbottom subthead1" colspan="1" headers="" id="cell40" rowspan="1" scope="col">
 City</th>
 <th class="odd group1 aligncenter valignmentbottom subthead2" colspan="1" headers="" id="cell41" rowspan="1" scope="col">
 Population</th>
 <th class="even group2 bold aligncenter valignmentbottom subthead1" colspan="1" headers="" id="cell42" rowspan="1" scope="col">
 <b>Violent<br/>crime</b>
 </th>
 <th class="odd group3 aligncenter valignmentbottom subthead2" colspan="1" headers="" id="cell43" rowspan="1" scope="col">
 Murder and<br/>nonnegligent<br/>manslaughter</th>
 <th class="even group4 aligncenter valignmentbottom subthead1" colspan="1" headers="" id="cell44" rowspan="1" scope="col">
 Forcible<br/>rape</th>
 <th class="odd group5 aligncenter valignmentbottom subthead2" colspan="1" headers="" id="cell45" rowspan="1" scope="col">
 Robbery</th>
 <th class="even group6 aligncenter valignmentbottom subthead1" colspan="1" headers="" id="cell46" rowspan="1" scope="col">
 Aggravated<br/>assault</th>
 <th class="odd group7 bold aligncenter valignmentbottom subthead2" colspan="1" headers="" id="cell47" rowspan="1" scope="col">
 <b>Property<br/>crime</b>
 </th>
 <th class="even group8 aligncenter valignmentbottom subthead1" colspan="1" headers="" id="cell48" rowspan="1" scope="col">
 Burglary</th>
 <th class="odd group9 aligncenter valignmentbottom subthead2" colspan="1" headers="" id="cell49" rowspan="1" scope="col">
 Larceny-<br/>theft</th>
 <th class="even group10 aligncenter valignmentbottom subthead1" colspan="1" headers="" id="cell410" rowspan="1" scope="col">
 Motor<br/>vehicle<br/>theft</th>
 <th class="odd group11 aligncenter valignmentbottom subthead2" colspan="1" headers="" id="cell411" rowspan="1" scope="col">
 Arson<sup>1</sup>
 </th>
 </tr>,
 <tr>
 <th class="even group0 valignmenttop" colspan="1" headers="cell40" id="cell50" rowspan="1" scope="row">
 Abington</th>
 <td class="odd group1 valignmenttop numbercell" colspan="1" headers="cell41 cell50" id="cell51" rowspan="1">
 16,836</td>
 <td class="even group2 valignmenttop numbercell" colspan="1" headers="cell42 cell50" id="cell52" rowspan="1">
 46</td>
 <td class="odd group3 valignmenttop numbercell" colspan="1" headers="cell43 cell50" id="cell53" rowspan="1">
 0</td>
 <td class="even group4 valignmenttop numbercell" colspan="1" headers="cell44 cell50" id="cell54" rowspan="1">
 2</td>
 <td class="odd group5 valignmenttop numbercell" colspan="1" headers="cell45 cell50" id="cell55" rowspan="1">
 9</td>
 <td class="even group6 valignmenttop numbercell" colspan="1" headers="cell46 cell50" id="cell56" rowspan="1">
 35</td>
 <td class="odd group7 valignmenttop numbercell" colspan="1" headers="cell47 cell50" id="cell57" rowspan="1">
 346</td>
 <td class="even group8 valignmenttop numbercell" colspan="1" headers="cell48 cell50" id="cell58" rowspan="1">
 112</td>
 <td class="odd group9 valignmenttop numbercell" colspan="1" headers="cell49 cell50" id="cell59" rowspan="1">
 213</td>
 <td class="even group10 valignmenttop numbercell" colspan="1" headers="cell410 cell50" id="cell510" rowspan="1">
 21</td>
 <td class="odd group11 valignmenttop numbercell" colspan="1" headers="cell411 cell50" id="cell511" rowspan="1">
 3</td>
 </tr>,
 <tr>
 <th class="even group0 valignmenttop" colspan="1" headers="cell40" id="cell60" rowspan="1" scope="row">
 Acton</th>
 <td class="odd group1 valignmenttop numbercell" colspan="1" headers="cell41 cell60" id="cell61" rowspan="1">
 21,090</td>
 <td class="even group2 valignmenttop numbercell" colspan="1" headers="cell42 cell60" id="cell62" rowspan="1">
 24</td>
 <td class="odd group3 valignmenttop numbercell" colspan="1" headers="cell43 cell60" id="cell63" rowspan="1">
 1</td>
 <td class="even group4 valignmenttop numbercell" colspan="1" headers="cell44 cell60" id="cell64" rowspan="1">
 2</td>
 <td class="odd group5 valignmenttop numbercell" colspan="1" headers="cell45 cell60" id="cell65" rowspan="1">
 1</td>
 <td class="even group6 valignmenttop numbercell" colspan="1" headers="cell46 cell60" id="cell66" rowspan="1">
 20</td>
 <td class="odd group7 valignmenttop numbercell" colspan="1" headers="cell47 cell60" id="cell67" rowspan="1">
 217</td>
 <td class="even group8 valignmenttop numbercell" colspan="1" headers="cell48 cell60" id="cell68" rowspan="1">
 43</td>
 <td class="odd group9 valignmenttop numbercell" colspan="1" headers="cell49 cell60" id="cell69" rowspan="1">
 167</td>
 <td class="even group10 valignmenttop numbercell" colspan="1" headers="cell410 cell60" id="cell610" rowspan="1">
 7</td>
 <td class="odd group11 valignmenttop numbercell" colspan="1" headers="cell411 cell60" id="cell611" rowspan="1">
 0</td>
 </tr>,
 <tr>
 <th class="even group0 valignmenttop" colspan="1" headers="cell40" id="cell70" rowspan="1" scope="row">
 Acushnet</th>
 <td class="odd group1 valignmenttop numbercell" colspan="1" headers="cell41 cell70" id="cell71" rowspan="1">
 10,275</td>
 <td class="even group2 valignmenttop numbercell" colspan="1" headers="cell42 cell70" id="cell72" rowspan="1">
 21</td>
 <td class="odd group3 valignmenttop numbercell" colspan="1" headers="cell43 cell70" id="cell73" rowspan="1">
 0</td>
 <td class="even group4 valignmenttop numbercell" colspan="1" headers="cell44 cell70" id="cell74" rowspan="1">
 2</td>
 <td class="odd group5 valignmenttop numbercell" colspan="1" headers="cell45 cell70" id="cell75" rowspan="1">
 2</td>
 <td class="even group6 valignmenttop numbercell" colspan="1" headers="cell46 cell70" id="cell76" rowspan="1">
 17</td>
 <td class="odd group7 valignmenttop numbercell" colspan="1" headers="cell47 cell70" id="cell77" rowspan="1">
 146</td>
 <td class="even group8 valignmenttop numbercell" colspan="1" headers="cell48 cell70" id="cell78" rowspan="1">
 61</td>
 <td class="odd group9 valignmenttop numbercell" colspan="1" headers="cell49 cell70" id="cell79" rowspan="1">
 75</td>
 <td class="even group10 valignmenttop numbercell" colspan="1" headers="cell410 cell70" id="cell710" rowspan="1">
 10</td>
 <td class="odd group11 valignmenttop numbercell" colspan="1" headers="cell411 cell70" id="cell711" rowspan="1">
 0</td>
 </tr>,
 <tr>
 <th class="even group0 valignmenttop" colspan="1" headers="cell40" id="cell80" rowspan="1" scope="row">
 Adams</th>
 <td class="odd group1 valignmenttop numbercell" colspan="1" headers="cell41 cell80" id="cell81" rowspan="1">
 8,120</td>
 <td class="even group2 valignmenttop numbercell" colspan="1" headers="cell42 cell80" id="cell82" rowspan="1">
 35</td>
 <td class="odd group3 valignmenttop numbercell" colspan="1" headers="cell43 cell80" id="cell83" rowspan="1">
 0</td>
 <td class="even group4 valignmenttop numbercell" colspan="1" headers="cell44 cell80" id="cell84" rowspan="1">
 4</td>
 <td class="odd group5 valignmenttop numbercell" colspan="1" headers="cell45 cell80" id="cell85" rowspan="1">
 1</td>
 <td class="even group6 valignmenttop numbercell" colspan="1" headers="cell46 cell80" id="cell86" rowspan="1">
 30</td>
 <td class="odd group7 valignmenttop numbercell" colspan="1" headers="cell47 cell80" id="cell87" rowspan="1">
 249</td>
 <td class="even group8 valignmenttop numbercell" colspan="1" headers="cell48 cell80" id="cell88" rowspan="1">
 65</td>
 <td class="odd group9 valignmenttop numbercell" colspan="1" headers="cell49 cell80" id="cell89" rowspan="1">
 175</td>
 <td class="even group10 valignmenttop numbercell" colspan="1" headers="cell410 cell80" id="cell810" rowspan="1">
 9</td>
 <td class="odd group11 valignmenttop numbercell" colspan="1" headers="cell411 cell80" id="cell811" rowspan="1">
 2</td>
 </tr>,
 <tr>
 <th class="even group0 valignmenttop" colspan="1" headers="cell40" id="cell90" rowspan="1" scope="row">
 Agawam</th>
 <td class="odd group1 valignmenttop numbercell" colspan="1" headers="cell41 cell90" id="cell91" rowspan="1">
 28,215</td>
 <td class="even group2 valignmenttop numbercell" colspan="1" headers="cell42 cell90" id="cell92" rowspan="1">
 47</td>
 <td class="odd group3 valignmenttop numbercell" colspan="1" headers="cell43 cell90" id="cell93" rowspan="1">
 0</td>
 <td class="even group4 valignmenttop numbercell" colspan="1" headers="cell44 cell90" id="cell94" rowspan="1">
 6</td>
 <td class="odd group5 valignmenttop numbercell" colspan="1" headers="cell45 cell90" id="cell95" rowspan="1">
 5</td>
 <td class="even group6 valignmenttop numbercell" colspan="1" headers="cell46 cell90" id="cell96" rowspan="1">
 36</td>
 <td class="odd group7 valignmenttop numbercell" colspan="1" headers="cell47 cell90" id="cell97" rowspan="1">
 260</td>
 <td class="even group8 valignmenttop numbercell" colspan="1" headers="cell48 cell90" id="cell98" rowspan="1">
 75</td>
 <td class="odd group9 valignmenttop numbercell" colspan="1" headers="cell49 cell90" id="cell99" rowspan="1">
 155</td>
 <td class="even group10 valignmenttop numbercell" colspan="1" headers="cell410 cell90" id="cell910" rowspan="1">
 30</td>
 <td class="odd group11 valignmenttop numbercell" colspan="1" headers="cell411 cell90" id="cell911" rowspan="1">
 7</td>
 </tr>,
 <tr>
 <th class="even group0 valignmenttop" colspan="1" headers="cell40" id="cell100" rowspan="1" scope="row">
 Amesbury</th>
 <td class="odd group1 valignmenttop numbercell" colspan="1" headers="cell41 cell100" id="cell101" rowspan="1">
 16,549</td>
 <td class="even group2 valignmenttop numbercell" colspan="1" headers="cell42 cell100" id="cell102" rowspan="1">
 44</td>
 <td class="odd group3 valignmenttop numbercell" colspan="1" headers="cell43 cell100" id="cell103" rowspan="1">
 0</td>
 <td class="even group4 valignmenttop numbercell" colspan="1" headers="cell44 cell100" id="cell104" rowspan="1">
 5</td>
 <td class="odd group5 valignmenttop numbercell" colspan="1" headers="cell45 cell100" id="cell105" rowspan="1">
 0</td>
 <td class="even group6 valignmenttop numbercell" colspan="1" headers="cell46 cell100" id="cell106" rowspan="1">
 39</td>
 <td class="odd group7 valignmenttop numbercell" colspan="1" headers="cell47 cell100" id="cell107" rowspan="1">
 266</td>
 <td class="even group8 valignmenttop numbercell" colspan="1" headers="cell48 cell100" id="cell108" rowspan="1">
 52</td>
 <td class="odd group9 valignmenttop numbercell" colspan="1" headers="cell49 cell100" id="cell109" rowspan="1">
 201</td>
 <td class="even group10 valignmenttop numbercell" colspan="1" headers="cell410 cell100" id="cell1010" rowspan="1">
 13</td>
 <td class="odd group11 valignmenttop numbercell" colspan="1" headers="cell411 cell100" id="cell1011" rowspan="1">
 2</td>
 </tr>,
 <tr>
 <th class="even group0 valignmenttop" colspan="1" headers="cell40" id="cell110" rowspan="1" scope="row">
 Amherst</th>
 <td class="odd group1 valignmenttop numbercell" colspan="1" headers="cell41 cell110" id="cell111" rowspan="1">
 36,004</td>
 <td class="even group2 valignmenttop numbercell" colspan="1" headers="cell42 cell110" id="cell112" rowspan="1">
 81</td>
 <td class="odd group3 valignmenttop numbercell" colspan="1" headers="cell43 cell110" id="cell113" rowspan="1">
 0</td>
 <td class="even group4 valignmenttop numbercell" colspan="1" headers="cell44 cell110" id="cell114" rowspan="1">
 20</td>
 <td class="odd group5 valignmenttop numbercell" colspan="1" headers="cell45 cell110" id="cell115" rowspan="1">
 2</td>
 <td class="even group6 valignmenttop numbercell" colspan="1" headers="cell46 cell110" id="cell116" rowspan="1">
 59</td>
 <td class="odd group7 valignmenttop numbercell" colspan="1" headers="cell47 cell110" id="cell117" rowspan="1">
 560</td>
 <td class="even group8 valignmenttop numbercell" colspan="1" headers="cell48 cell110" id="cell118" rowspan="1">
 274</td>
 <td class="odd group9 valignmenttop numbercell" colspan="1" headers="cell49 cell110" id="cell119" rowspan="1">
 257</td>
 <td class="even group10 valignmenttop numbercell" colspan="1" headers="cell410 cell110" id="cell1110" rowspan="1">
 29</td>
 <td class="odd group11 valignmenttop numbercell" colspan="1" headers="cell411 cell110" id="cell1111" rowspan="1">
 1</td>
 </tr>,
 <tr>
 <th class="even group0 valignmenttop" colspan="1" headers="cell40" id="cell120" rowspan="1" scope="row">
 Andover</th>
 <td class="odd group1 valignmenttop numbercell" colspan="1" headers="cell41 cell120" id="cell121" rowspan="1">
 33,505</td>
 <td class="even group2 valignmenttop numbercell" colspan="1" headers="cell42 cell120" id="cell122" rowspan="1">
 15</td>
 <td class="odd group3 valignmenttop numbercell" colspan="1" headers="cell43 cell120" id="cell123" rowspan="1">
 0</td>
 <td class="even group4 valignmenttop numbercell" colspan="1" headers="cell44 cell120" id="cell124" rowspan="1">
 2</td>
 <td class="odd group5 valignmenttop numbercell" colspan="1" headers="cell45 cell120" id="cell125" rowspan="1">
 4</td>
 <td class="even group6 valignmenttop numbercell" colspan="1" headers="cell46 cell120" id="cell126" rowspan="1">
 9</td>
 <td class="odd group7 valignmenttop numbercell" colspan="1" headers="cell47 cell120" id="cell127" rowspan="1">
 331</td>
 <td class="even group8 valignmenttop numbercell" colspan="1" headers="cell48 cell120" id="cell128" rowspan="1">
 75</td>
 <td class="odd group9 valignmenttop numbercell" colspan="1" headers="cell49 cell120" id="cell129" rowspan="1">
 239</td>
 <td class="even group10 valignmenttop numbercell" colspan="1" headers="cell410 cell120" id="cell1210" rowspan="1">
 17</td>
 <td class="odd group11 valignmenttop numbercell" colspan="1" headers="cell411 cell120" id="cell1211" rowspan="1">
 3</td>
 </tr>,
 <tr>
 <th class="even group0 valignmenttop" colspan="1" headers="cell40" id="cell130" rowspan="1" scope="row">
 Arlington</th>
 <td class="odd group1 valignmenttop numbercell" colspan="1" headers="cell41 cell130" id="cell131" rowspan="1">
 41,212</td>
 <td class="even group2 valignmenttop numbercell" colspan="1" headers="cell42 cell130" id="cell132" rowspan="1">
 96</td>
 <td class="odd group3 valignmenttop numbercell" colspan="1" headers="cell43 cell130" id="cell133" rowspan="1">
 0</td>
 <td class="even group4 valignmenttop numbercell" colspan="1" headers="cell44 cell130" id="cell134" rowspan="1">
 0</td>
 <td class="odd group5 valignmenttop numbercell" colspan="1" headers="cell45 cell130" id="cell135" rowspan="1">
 9</td>
 <td class="even group6 valignmenttop numbercell" colspan="1" headers="cell46 cell130" id="cell136" rowspan="1">
 87</td>
 <td class="odd group7 valignmenttop numbercell" colspan="1" headers="cell47 cell130" id="cell137" rowspan="1">
 635</td>
 <td class="even group8 valignmenttop numbercell" colspan="1" headers="cell48 cell130" id="cell138" rowspan="1">
 154</td>
 <td class="odd group9 valignmenttop numbercell" colspan="1" headers="cell49 cell130" id="cell139" rowspan="1">
 460</td>
 <td class="even group10 valignmenttop numbercell" colspan="1" headers="cell410 cell130" id="cell1310" rowspan="1">
 21</td>
 <td class="odd group11 valignmenttop numbercell" colspan="1" headers="cell411 cell130" id="cell1311" rowspan="1">
 8</td>
 </tr>,
 <tr>
 <th class="even group0 valignmenttop" colspan="1" headers="cell40" id="cell140" rowspan="1" scope="row">
 Ashburnham</th>
 <td class="odd group1 valignmenttop numbercell" colspan="1" headers="cell41 cell140" id="cell141" rowspan="1">
 6,050</td>
 <td class="even group2 valignmenttop numbercell" colspan="1" headers="cell42 cell140" id="cell142" rowspan="1">
 13</td>
 <td class="odd group3 valignmenttop numbercell" colspan="1" headers="cell43 cell140" id="cell143" rowspan="1">
 0</td>
 <td class="even group4 valignmenttop numbercell" colspan="1" headers="cell44 cell140" id="cell144" rowspan="1">
 2</td>
 <td class="odd group5 valignmenttop numbercell" colspan="1" headers="cell45 cell140" id="cell145" rowspan="1">
 0</td>
 <td class="even group6 valignmenttop numbercell" colspan="1" headers="cell46 cell140" id="cell146" rowspan="1">
 11</td>
 <td class="odd group7 valignmenttop numbercell" colspan="1" headers="cell47 cell140" id="cell147" rowspan="1">
 83</td>
 <td class="even group8 valignmenttop numbercell" colspan="1" headers="cell48 cell140" id="cell148" rowspan="1">
 23</td>
 <td class="odd group9 valignmenttop numbercell" colspan="1" headers="cell49 cell140" id="cell149" rowspan="1">
 56</td>
 <td class="even group10 valignmenttop numbercell" colspan="1" headers="cell410 cell140" id="cell1410" rowspan="1">
 4</td>
 <td class="odd group11 valignmenttop numbercell" colspan="1" headers="cell411 cell140" id="cell1411" rowspan="1">
 1</td>
 </tr>,
 <tr>
 <th class="even group0 valignmenttop" colspan="1" headers="cell40" id="cell150" rowspan="1" scope="row">
 Ashby</th>
 <td class="odd group1 valignmenttop numbercell" colspan="1" headers="cell41 cell150" id="cell151" rowspan="1">
 3,115</td>
 <td class="even group2 valignmenttop numbercell" colspan="1" headers="cell42 cell150" id="cell152" rowspan="1">
 5</td>
 <td class="odd group3 valignmenttop numbercell" colspan="1" headers="cell43 cell150" id="cell153" rowspan="1">
 0</td>
 <td class="even group4 valignmenttop numbercell" colspan="1" headers="cell44 cell150" id="cell154" rowspan="1">
 2</td>
 <td class="odd group5 valignmenttop numbercell" colspan="1" headers="cell45 cell150" id="cell155" rowspan="1">
 0</td>
 <td class="even group6 valignmenttop numbercell" colspan="1" headers="cell46 cell150" id="cell156" rowspan="1">
 3</td>
 <td class="odd group7 valignmenttop numbercell" colspan="1" headers="cell47 cell150" id="cell157" rowspan="1">
 15</td>
 <td class="even group8 valignmenttop numbercell" colspan="1" headers="cell48 cell150" id="cell158" rowspan="1">
 15</td>
 <td class="odd group9 valignmenttop numbercell" colspan="1" headers="cell49 cell150" id="cell159" rowspan="1">
 0</td>
 <td class="even group10 valignmenttop numbercell" colspan="1" headers="cell410 cell150" id="cell1510" rowspan="1">
 0</td>
 <td class="odd group11 valignmenttop numbercell" colspan="1" headers="cell411 cell150" id="cell1511" rowspan="1">
 0</td>
 </tr>,
 <tr>
 <th class="even group0 valignmenttop" colspan="1" headers="cell40" id="cell160" rowspan="1" scope="row">
 Ashland</th>
 <td class="odd group1 valignmenttop numbercell" colspan="1" headers="cell41 cell160" id="cell161" rowspan="1">
 15,279</td>
 <td class="even group2 valignmenttop numbercell" colspan="1" headers="cell42 cell160" id="cell162" rowspan="1">
 27</td>
 <td class="odd group3 valignmenttop numbercell" colspan="1" headers="cell43 cell160" id="cell163" rowspan="1">
 0</td>
 <td class="even group4 valignmenttop numbercell" colspan="1" headers="cell44 cell160" id="cell164" rowspan="1">
 2</td>
 <td class="odd group5 valignmenttop numbercell" colspan="1" headers="cell45 cell160" id="cell165" rowspan="1">
 0</td>
 <td class="even group6 valignmenttop numbercell" colspan="1" headers="cell46 cell160" id="cell166" rowspan="1">
 25</td>
 <td class="odd group7 valignmenttop numbercell" colspan="1" headers="cell47 cell160" id="cell167" rowspan="1">
 181</td>
 <td class="even group8 valignmenttop numbercell" colspan="1" headers="cell48 cell160" id="cell168" rowspan="1">
 50</td>
 <td class="odd group9 valignmenttop numbercell" colspan="1" headers="cell49 cell160" id="cell169" rowspan="1">
 119</td>
 <td class="even group10 valignmenttop numbercell" colspan="1" headers="cell410 cell160" id="cell1610" rowspan="1">
 12</td>
 <td class="odd group11 valignmenttop numbercell" colspan="1" headers="cell411 cell160" id="cell1611" rowspan="1">
 0</td>
 </tr>,
 <tr>
 <th class="even group0 valignmenttop" colspan="1" headers="cell40" id="cell170" rowspan="1" scope="row">
 Athol</th>
 <td class="odd group1 valignmenttop numbercell" colspan="1" headers="cell41 cell170" id="cell171" rowspan="1">
 11,773</td>
 <td class="even group2 valignmenttop numbercell" colspan="1" headers="cell42 cell170" id="cell172" rowspan="1">
 65</td>
 <td class="odd group3 valignmenttop numbercell" colspan="1" headers="cell43 cell170" id="cell173" rowspan="1">
 1</td>

In [42]:
# Using for loop exctract all data table rows
parsed_df1 = []
for rows in report_rows:
    row_data = rows.find_all('td')
    if row_data:
        line = [data.get_text(strip=True) for data in row_data]
        parsed_df1.append(line)

In [43]:
# Check first few rows of the list containing data from the HTML table
parsed_df1[0:10]

[['16,836', '46', '0', '2', '9', '35', '346', '112', '213', '21', '3'],
 ['21,090', '24', '1', '2', '1', '20', '217', '43', '167', '7', '0'],
 ['10,275', '21', '0', '2', '2', '17', '146', '61', '75', '10', '0'],
 ['8,120', '35', '0', '4', '1', '30', '249', '65', '175', '9', '2'],
 ['28,215', '47', '0', '6', '5', '36', '260', '75', '155', '30', '7'],
 ['16,549', '44', '0', '5', '0', '39', '266', '52', '201', '13', '2'],
 ['36,004', '81', '0', '20', '2', '59', '560', '274', '257', '29', '1'],
 ['33,505', '15', '0', '2', '4', '9', '331', '75', '239', '17', '3'],
 ['41,212', '96', '0', '0', '9', '87', '635', '154', '460', '21', '8'],
 ['6,050', '13', '0', '2', '0', '11', '83', '23', '56', '4', '1']]

In [44]:
# Column corresponding to the town names is stored under table header element. Parse from 'th' elements of the table
towns = []
for rows in report_rows:
    row_data = rows.find_all('th')
    if row_data:
        line = [data.get_text(strip=True) for data in row_data]
        towns.append(line)

In [45]:
# Check first few rows to verify city names list
towns[0:10]

[['City',
  'Population',
  'Violentcrime',
  'Murder andnonnegligentmanslaughter',
  'Forciblerape',
  'Robbery',
  'Aggravatedassault',
  'Propertycrime',
  'Burglary',
  'Larceny-theft',
  'Motorvehicletheft',
  'Arson1'],
 ['Abington'],
 ['Acton'],
 ['Acushnet'],
 ['Adams'],
 ['Agawam'],
 ['Amesbury'],
 ['Amherst'],
 ['Andover'],
 ['Arlington']]

In [46]:
# Remove first row containing the table hraders
towns = towns [1:]

In [47]:
# Create a data frame containing town names
towns1 = pd.DataFrame(data=towns, columns=['City'])

In [48]:
# Check if data frame was created properly
towns1.head()

       City
0  Abington
1     Acton
2  Acushnet
3     Adams
4    Agawam

In [49]:
# Create the data frame containing the other information from the HTML
parsed_df1 = pd.DataFrame(data = parsed_df1)

In [50]:
# Check data frame
parsed_df1.head()

       0   1  2  3  4   5    6    7    8   9  10
0  16,836  46  0  2  9  35  346  112  213  21  3
1  21,090  24  1  2  1  20  217   43  167   7  0
2  10,275  21  0  2  2  17  146   61   75  10  0
3   8,120  35  0  4  1  30  249   65  175   9  2
4  28,215  47  0  6  5  36  260   75  155  30  7

### Transformation 1 - Data frames concatenation. Combine town names data frame and the other infromation into one consolidated data frame using concat() methd from Pandas

In [51]:
# Combine both towns df and parsed df together
combined_report_2010 = pd.concat([towns1, parsed_df1], axis = 1)

In [52]:
# Check the result
combined_report_2010.head()

       City       0   1  2  3  4   5    6    7    8   9 10
0  Abington  16,836  46  0  2  9  35  346  112  213  21  3
1     Acton  21,090  24  1  2  1  20  217   43  167   7  0
2  Acushnet  10,275  21  0  2  2  17  146   61   75  10  0
3     Adams   8,120  35  0  4  1  30  249   65  175   9  2
4    Agawam  28,215  47  0  6  5  36  260   75  155  30  7

### Transformation 2 - Rename columns. Create column mapping dictionary to map out each existing column name wiith desired name. Then apply rename() method with this dictionary

In [53]:
# Create dictionary for column names mapping
column_mapping = {combined_report_2010.columns[0]: column_names[0], 
                  combined_report_2010.columns[1]: column_names[1],
                 combined_report_2010.columns[2]: column_names[2],
                 combined_report_2010.columns[3]: column_names[3],
                 combined_report_2010.columns[4]: column_names[4],
                 combined_report_2010.columns[5]: column_names[5],
                 combined_report_2010.columns[6]: column_names[6],
                 combined_report_2010.columns[7]: column_names[7],
                 combined_report_2010.columns[8]: column_names[8],
                 combined_report_2010.columns[9]: column_names[9],
                 combined_report_2010.columns[10]: column_names[10],
                 combined_report_2010.columns[11]: column_names[11]}

In [54]:
# Rename column using mapped column names from the dictionary
combined_report_2010.rename(columns = column_mapping, inplace = True )

In [55]:
# Check the results
combined_report_2010.head()

,City,Population,Violentcrime,Murder andnonnegligentmanslaughter,Forciblerape,Robbery,Aggravatedassault,Propertycrime,Burglary,Larceny-theft,Motorvehicletheft,Arson1
0,Abington,"16,836",46,0,2,9,35,346,112,213,21,3
1,Acton,"21,090",24,1,2,1,20,217,43,167,7,0
2,Acushnet,"10,275",21,0,2,2,17,146,61,75,10,0
3,Adams,"8,120",35,0,4,1,30,249,65,175,9,2
4,Agawam,"28,215",47,0,6,5,36,260,75,155,30,7

## 2011 Crime

In [56]:
# Apply the same steps to exctract data frome 2011 crime report HTML source
url = "https://ucr.fbi.gov/crime-in-the-u.s/2011/crime-in-the-u.s.-2011/tables/table8statecuts/table_8_offenses_known_to_law_enforcement_massachusetts_by_city_2011.xls"
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html')
report_table = soup.find("table", attrs = {"class": 'data' })
report_rows  = report_table.find_all('tr')
parsed_df1 = []
for rows in report_rows:
    row_data = rows.find_all('td')
    if row_data:
        line = [data.get_text(strip=True) for data in row_data]
        parsed_df1.append(line)
parsed_df1 = pd.DataFrame(data = parsed_df1)
combined_report_2011 = pd.concat([towns1, parsed_df1], axis = 1)
combined_report_2011.rename(columns = column_mapping, inplace = True )
combined_report_2011.head()

,City,Population,Violentcrime,Murder andnonnegligentmanslaughter,Forciblerape,Robbery,Aggravatedassault,Propertycrime,Burglary,Larceny-theft,Motorvehicletheft,Arson1
0,Abington,"16,082",22,0,1,6,15,351,102,226,23,1
1,Acton,"22,058",33,0,0,2,31,201,23,173,5,0
2,Acushnet,"10,366",16,0,0,3,13,120,43,72,5,0
3,Adams,"8,537",26,0,6,1,19,200,65,124,11,0
4,Agawam,"28,611",41,0,5,3,33,199,55,114,30,5

## 2012 Crime

In [57]:
# Apply the same steps to exctract data frome 2012 crime report HTML source
url = "https://ucr.fbi.gov/crime-in-the-u.s/2012/crime-in-the-u.s.-2012/tables/8tabledatadecpdf/table-8-state-cuts/table_8_offenses_known_to_law_enforcement_by_massachuetts_by_city_2012.xls"
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html')
report_table = soup.find("table", attrs = {"class": 'data' })
report_rows  = report_table.find_all('tr')
parsed_df1 = []
for rows in report_rows:
    row_data = rows.find_all('td')
    if row_data:
        line = [data.get_text(strip=True) for data in row_data]
        parsed_df1.append(line)
parsed_df1 = pd.DataFrame(data = parsed_df1)
combined_report_2012 = pd.concat([towns1, parsed_df1], axis = 1)
combined_report_2012.rename(columns = column_mapping, inplace = True )
combined_report_2012.head()

,City,Population,Violentcrime,Murder andnonnegligentmanslaughter,Forciblerape,Robbery,Aggravatedassault,Propertycrime,Burglary,Larceny-theft,Motorvehicletheft,Arson1
0,Abington,"16,215",41,0,1,6,34,358,97,244,17,1
1,Acton,"22,349",23,0,4,1,18,241,37,202,2,0
2,Acushnet,"10,408",13,0,0,1,12,139,72,57,10,2
3,Adams,"8,508",41,0,11,4,26,189,49,135,5,3
4,Agawam,"28,708",34,0,5,5,24,272,108,140,24,0

## 2013 Crime

In [58]:
# Apply the same steps to exctract data frome 2013 crime report HTML source
url = "https://ucr.fbi.gov/crime-in-the-u.s/2013/crime-in-the-u.s.-2013/tables/table-8/table-8-state-cuts/table_8_offenses_known_to_law_enforcement_massachusetts_by_city_2013.xls"
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html')
report_table = soup.find("table", attrs = {"class": 'data' })
report_rows  = report_table.find_all('tr')
parsed_df1 = []
for rows in report_rows:
    row_data = rows.find_all('td')
    if row_data:
        line = [data.get_text(strip=True) for data in row_data]
        parsed_df1.append(line)
parsed_df1 = pd.DataFrame(data = parsed_df1)
combined_report_2013 = pd.concat([towns1, parsed_df1], axis = 1)
combined_report_2013.rename(columns = column_mapping, inplace = True )
combined_report_2013.head()

,City,Population,Violentcrime,Murder andnonnegligentmanslaughter,Forciblerape,Robbery,Aggravatedassault,Propertycrime,Burglary,Larceny-theft,Motorvehicletheft,Arson1,11
0,Abington,"16,121",48,0,5,,7,36,297,82,201,14,1
1,Acton,"22,871",8,0,1,,2,5,178,31,144,3,0
2,Acushnet,"10,362",19,0,2,,0,17,74,27,40,7,2
3,Adams,"8,352",21,0,3,,3,15,157,40,109,8,1
4,Agawam,"28,659",41,0,12,,3,26,270,105,130,35,1

## 2014 Crime

In [59]:
url = "https://ucr.fbi.gov/crime-in-the-u.s/2014/crime-in-the-u.s.-2014/tables/table-8/table-8-by-state/Table_8_Offenses_Known_to_Law_Enforcement_by_Massachusetts_by_City_2014.xls"
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html')
report_table = soup.find("table", attrs = {"class": 'data' })
report_rows  = report_table.find_all('tr')
parsed_df1 = []
for rows in report_rows:
    row_data = rows.find_all('td')
    if row_data:
        line = [data.get_text(strip=True) for data in row_data]
        parsed_df1.append(line)
parsed_df1 = pd.DataFrame(data = parsed_df1)
combined_report_2014 = pd.concat([towns1, parsed_df1], axis = 1)
combined_report_2014.rename(columns = column_mapping, inplace = True )
combined_report_2014.head()

,City,Population,Violentcrime,Murder andnonnegligentmanslaughter,Forciblerape,Robbery,Aggravatedassault,Propertycrime,Burglary,Larceny-theft,Motorvehicletheft,Arson1,11
0,Abington,"16,200",28,0,4,,6,18,338,56,272,10,1
1,Acton,"23,193",17,0,2,,0,15,179,27,147,5,0
2,Acushnet,"10,392",23,0,3,,1,19,91,36,50,5,1
3,Adams,"8,296",30,0,7,,1,22,120,37,78,5,3
4,Agawam,"38,977",69,0,21,,7,41,284,95,171,18,4

## 2015 Crime

In [60]:
# Apply the same steps to exctract data frome 2015 crime report HTML source
url = "https://ucr.fbi.gov/crime-in-the-u.s/2015/crime-in-the-u.s.-2015/tables/table-8/table-8-state-pieces/table_8_offenses_known_to_law_enforcement_massachusetts_by_city_2015.xls"
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html')
report_table = soup.find("table", attrs = {"class": 'data' })
report_rows  = report_table.find_all('tr')
parsed_df1 = []
for rows in report_rows:
    row_data = rows.find_all('td')
    if row_data:
        line = [data.get_text(strip=True) for data in row_data]
        parsed_df1.append(line)
parsed_df1 = pd.DataFrame(data = parsed_df1)
combined_report_2015 = pd.concat([towns1, parsed_df1], axis = 1)
combined_report_2015.rename(columns = column_mapping, inplace = True )
combined_report_2015.head()

,City,Population,Violentcrime,Murder andnonnegligentmanslaughter,Forciblerape,Robbery,Aggravatedassault,Propertycrime,Burglary,Larceny-theft,Motorvehicletheft,Arson1,11
0,Abington,"16,252",28,0,2,,3,23,293,52,228,13,0
1,Acton,"23,573",23,0,2,,1,20,224,61,156,7,0
2,Acushnet,"10,441",28,0,2,,0,26,101,32,60,9,4
3,Adams,"8,221",31,0,4,,1,26,150,33,110,7,3
4,Agawam,"28,853",76,0,13,,5,58,521,193,294,34,1

## 2016 Crime - WAS NOT REPORTED FOR MA

## 2017 Crime

In [61]:
# Apply the same steps to exctract data frome 2017 crime report HTML source
url = "https://ucr.fbi.gov/crime-in-the-u.s/2017/crime-in-the-u.s.-2017/tables/table-8/table-8-state-cuts/massachusetts.xls"
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html')
report_table = soup.find("table", attrs = {"class": 'data' })
report_rows  = report_table.find_all('tr')
parsed_df1 = []
for rows in report_rows:
    row_data = rows.find_all('td')
    if row_data:
        line = [data.get_text(strip=True) for data in row_data]
        parsed_df1.append(line)
parsed_df1 = pd.DataFrame(data = parsed_df1)
combined_report_2017 = pd.concat([towns1, parsed_df1], axis = 1)
combined_report_2017.rename(columns = column_mapping, inplace = True )
combined_report_2017.head()

,City,Population,Violentcrime,Murder andnonnegligentmanslaughter,Forciblerape,Robbery,Aggravatedassault,Propertycrime,Burglary,Larceny-theft,Motorvehicletheft,Arson1
0,Abington,"16,369",33,0,4,6,23,158,26,120,12,0
1,Acton,"23,937",23,0,1,1,21,170,33,134,3,1
2,Acushnet,"10,547",32,0,4,3,25,101,28,62,11,0
3,Adams,"8,051",20,0,10,1,9,114,46,60,8,0
4,Agawam,"28,839",66,0,3,9,54,519,178,313,28,3

## 2018 Crime

In [62]:
# Apply the same steps to exctract data frome 2018 crime report HTML source
url = "https://ucr.fbi.gov/crime-in-the-u.s/2018/crime-in-the-u.s.-2018/tables/table-8/table-8-state-cuts/massachusetts.xls"
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html')
report_table = soup.find("table", attrs = {"class": 'data' })
report_rows  = report_table.find_all('tr')
parsed_df1 = []
for rows in report_rows:
    row_data = rows.find_all('td')
    if row_data:
        line = [data.get_text(strip=True) for data in row_data]
        parsed_df1.append(line)
parsed_df1 = pd.DataFrame(data = parsed_df1)
combined_report_2018 = pd.concat([towns1, parsed_df1], axis = 1)
combined_report_2018.rename(columns = column_mapping, inplace = True )
combined_report_2018.head()

,City,Population,Violentcrime,Murder andnonnegligentmanslaughter,Forciblerape,Robbery,Aggravatedassault,Propertycrime,Burglary,Larceny-theft,Motorvehicletheft,Arson1
0,Abington,"16,443",41,0,5,3,33,147,18,107,22,0
1,Acton,"24,038",26,1,7,2,16,156,27,125,4,0
2,Acushnet,"10,576",19,0,5,1,13,69,21,42,6,0
3,Adams,"8,036",23,1,1,2,19,96,32,60,4,1
4,Agawam,"28,955",105,0,14,12,79,428,142,268,18,0

## 2019 Crime

In [63]:
# Apply the same steps to exctract data frome 2019 crime report HTML source
url = "https://ucr.fbi.gov/crime-in-the-u.s/2019/crime-in-the-u.s.-2019/tables/table-8/table-8-state-cuts/massachusetts.xls"
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html')
report_table = soup.find("table", attrs = {"class": 'data' })
report_rows  = report_table.find_all('tr')
parsed_df1 = []
for rows in report_rows:
    row_data = rows.find_all('td')
    if row_data:
        line = [data.get_text(strip=True) for data in row_data]
        parsed_df1.append(line)
parsed_df1 = pd.DataFrame(data = parsed_df1)
combined_report_2019 = pd.concat([towns1, parsed_df1], axis = 1)
combined_report_2019.rename(columns = column_mapping, inplace = True )
combined_report_2019.head()

,City,Population,Violentcrime,Murder andnonnegligentmanslaughter,Forciblerape,Robbery,Aggravatedassault,Propertycrime,Burglary,Larceny-theft,Motorvehicletheft,Arson1
0,Abington,"16,448",23,4,5,3,11,153,23,122,8,1
1,Acton,"23,780",32,0,6,2,24,66,13,50,3,0
2,Acushnet,"10,533",12,0,5,0,7,35,14,19,2,0
3,Adams,"8,028",26,0,10,2,14,94,34,59,1,2
4,Agawam,"28,736",82,0,13,8,61,376,133,228,15,1

### Transformation 3 - Drop unnecessary columns. Population column is not necessary for this study it can be removed from the data frame using drop() method from pandas.

In [64]:
# Drop population column from all data frames 
combined_report_2010.drop('Population', axis = 1, inplace = True)
combined_report_2011.drop('Population', axis = 1, inplace = True)
combined_report_2012.drop('Population', axis = 1, inplace = True)
combined_report_2013.drop('Population', axis = 1, inplace = True)
combined_report_2014.drop('Population', axis = 1, inplace = True)
combined_report_2015.drop('Population', axis = 1, inplace = True)
combined_report_2017.drop('Population', axis = 1, inplace = True)
combined_report_2018.drop('Population', axis = 1, inplace = True)
combined_report_2019.drop('Population', axis = 1, inplace = True)

### Transformation 4 -  Find and remove missing values. Find if there are anyh missing values and apply dropna to each data frame

In [65]:
# Check if there are any missing values in 2017 crime table
combined_report_2017.isnull().sum()

City                                  0
Violentcrime                          2
Murder andnonnegligentmanslaughter    2
Forciblerape                          2
Robbery                               2
Aggravatedassault                     2
Propertycrime                         2
Burglary                              2
Larceny-theft                         2
Motorvehicletheft                     2
Arson1                                2
dtype: int64

#### Each column has missing values

In [66]:
# Drop rows with missing values from all reports
combined_report_2010 =combined_report_2010.dropna()
combined_report_2011 =combined_report_2011.dropna()
combined_report_2012 =combined_report_2012.dropna()
combined_report_2013 =combined_report_2013.dropna()
combined_report_2014 =combined_report_2014.dropna()
combined_report_2015 =combined_report_2015.dropna()
combined_report_2017 =combined_report_2017.dropna()
combined_report_2018 =combined_report_2018.dropna()
combined_report_2019 =combined_report_2019.dropna()

In [67]:
# Check the report for 2017 to verify there is no missing values
combined_report_2017.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 274 entries, 0 to 273
Data columns (total 11 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   City                                274 non-null    object
 1   Violentcrime                        274 non-null    object
 2   Murder andnonnegligentmanslaughter  274 non-null    object
 3   Forciblerape                        274 non-null    object
 4   Robbery                             274 non-null    object
 5   Aggravatedassault                   274 non-null    object
 6   Propertycrime                       274 non-null    object
 7   Burglary                            274 non-null    object
 8   Larceny-theft                       274 non-null    object
 9   Motorvehicletheft                   274 non-null    object
 10  Arson1                              274 non-null    object
dtypes: object(11)
memory usage: 25.7+ KB

### Transformation 5 - Combine all data frames into one. This step will allow to easily manipulate and summarize total number of crimes for each year in each city.

In [114]:
year = ['2010', '2011', '2012', '2013', '2014', '2015', '2017', '2018', '2019']

In [68]:
# Create a list of all crime reports
dataframes_list = [combined_report_2010, combined_report_2011, combined_report_2012, combined_report_2013, combined_report_2014, combined_report_2015, combined_report_2017, combined_report_2018, combined_report_2019]

In [127]:
# Combine all data frames together and label columns for each year
combined_df = pd.concat(dataframes_list, keys=['2010', '2011', '2012', '2013', '2014', '2015', '2017', '2018', '2019'], axis=0)

In [128]:
# check the results
combined_df.head()

            City Violentcrime Murder andnonnegligentmanslaughter Forciblerape  \
2010 0  Abington           46                                  0            2
     1     Acton           24                                  1            2
     2  Acushnet           21                                  0            2
     3     Adams           35                                  0            4
     4    Agawam           47                                  0            6

       Robbery Aggravatedassault Propertycrime Burglary Larceny-theft  \
2010 0       9                35           346      112           213
     1       1                20           217       43           167
     2       2                17           146       61            75
     3       1                30           249       65           175
     4       5                36           260       75           155

       Motorvehicletheft Arson1   11
2010 0                21      3  NaN
     1                 7      0  NaN
     2                10      0  NaN
     3                 9      2  NaN
     4                30      7  NaN

In [129]:
combined_df.to_csv('MA_Crime_reports_2010-2019.csv')